spring:
  application:
    name: vets-service
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}
  cache:
    cache-names: vets
  profiles:
    active: production

management:
  tracing:
    sampling:
      probability: 1
  zipkin:
    tracing:
      endpoint: http://tracing-server:9411/api/v2/spans

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} : %msg traceId=%X{traceId:-} spanId=%X{spanId:-}%n"

---
spring:
  config:
    activate:
      on-profile: docker
    import: configserver:http://config-server:8888

---
spring:
  config:
    activate:
      on-profile: k8s
    import: configserver:http://config-server:8888/config