apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server-deployment
  namespace: spring-petclinic
  labels:
    app: config-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: terrytantan/spring-petclinic-config-server:latest
          ports:
            - containerPort: 8888
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s