apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: spring-petclinic
  labels:
    app: api-gateway
spec:
  type: LoadBalancer
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  selector:
    app: api-gateway