apiVersion: apps/v1
kind: Deployment
metadata:
  name: vets-service-deployment
  namespace: spring-petclinic
  labels:
    app: vets-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vets-service
  template:
    metadata:
      labels:
        app: vets-service
    spec:
      containers:
        - name: vets-service
          image: terrytantan/spring-petclinic-vets-service:latest
          ports:
            - containerPort: 8083
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s